<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a product</title>
</head>

<body>
    <h1>Edit a product</h1>
    <form action="/product/<%=items._id%>?_method=PUT" method="POST">
        <label for="name">Product's name</label>
        <input type="text" id="name" name="name" placeholder="Product's name" value="<%=items.name%>">
        <label for="price">Price(unit)</label>
        <input type="number" id="price" name="price" placeholder="Product's price" value="<%=items.price%>" step=".01">
        <label for="category">Category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>" <%=items.category===category? 'selected' :''%>>
                    <%=category%>
                </option>

                <% } %>
        </select>
        <button>Make new changes to product</button>
    </form>

    <a href="/product">Back to All product</a>
    <a href="/product/<%=items._id%>">Cancel</a>
</body>

</html>